header {
  border-bottom: 5px;
  padding: 20px;
}
footer {
  border-bottom: 5px;
  border-top: 2px;
  padding: 7px 20px;
  background-color: rgb(220, 227, 199);
}
body {
  background-color: rgb(228, 235, 207);
  font-family: "Bungee Spice", sans-serif;
  font-family: "Fasthand", cursive;
  font-family: "Orbitron", sans-serif;
  font-family: "Space Grotesk", sans-serif;
  font-family: "Varela Round", sans-serif;
}
.app-box {
  background-color: aliceblue;
  width: 700px;
  margin: 45px auto;
  padding: 20px;
  box-shadow: 0 30px 50px rgb(211, 214, 204);
}

search-form {
  font-weight: bold;
  font-size: xx-large;
}
.search-form-input {
  background-color: rgba(227, 246, 216, 0.998);
  width: 400px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}

.search-form-button {
  background-color: rgb(156, 213, 56);
  width: 100px;
  padding: 10px 20px;
  border: none;
  border-top: 1px;
  border-radius: 6px;
  font-weight: bolder;
  font-size: 16px;
  text-align: center;
}
